In [1]:
import pandas as pd

df = pd.read_csv('adult.data.csv')
print(df.shape)
df.head()

(32561, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
#How many people of each race are represented in this dataset? 

print(df['race'].value_counts())

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
#What is the average age of men?

averageAge = df['age'].mean()
print(averageAge)

38.58164675532078

In [4]:
#What is the percentage of people who have a Bachelor's degree?

mask = df['education'] == 'Bachelors'
perBach = (len(df[mask])/ len(df['education'])) * 100
print(perBach)

16.44605509658794

In [5]:
#What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

edu = ['Bachelors','Masters', 'Doctorate']
mask1 = (df['salary'].str.contains('>50K')) & (df['education'].isin(edu))
#df[mask1].head(20)
mask2 = df['education'].isin(edu) & (df['salary'])
#df[mask2].head(20)
#print(len(df[mask1]))
#print(len(df[mask2]))
higher_education_rich = round(((len(df[mask1]) / len(df[mask2])) * 100) ,1)
higher_education_rich

46.5

In [6]:
#What percentage of people without advanced education make more than 50K?

edu = ['Bachelors','Masters', 'Doctorate']
mask1 = (df['salary'].str.contains('>50K')) & (~df['education'].isin(edu))
#df[mask1].head(20)
mask2 = (~df['education'].isin(edu)) & (df['salary'])
#df[mask2].head(20)
#print(len(df[mask1]))
#print(len(df[mask2]))
lower_education_rich = round(((len(df[mask1]) / len(df[mask2])) * 100) ,1)
lower_education_rich

17.4

In [7]:
#What is the minimum number of hours a person works per week?

min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [8]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
#mask1 = (df['salary'].str.contains('>50K') & df['hours-per-week']==min_work_hours)

mask1 = (df['hours-per-week']==min_work_hours) & (df['salary'].str.contains('>50K'))
df[mask1]
mask2 = (df['hours-per-week']==min_work_hours & (df['salary'].str.contains('>50K') | df['salary'].str.contains('<=50K') ))
per = (len(df[mask1]) / len(df[mask2])) * 100
print(per)

10.0

In [9]:
#What country has the highest percentage of people that earn >50K and what is that percentage?

high_earners_df = pd.DataFrame(df[df['salary']  == '>50K'].groupby('native-country')['salary'].count())
high_earners_df = high_earners_df.rename(columns={"salary": "high-earners"}).reset_index()
total_earners_df = pd.DataFrame(df[df['salary']  == '<=50K'].groupby('native-country')['salary'].count())
total_earners_df = total_earners_df.rename(columns={"salary": "total-earners"}).reset_index()
total_earners_df = total_earners_df.merge(high_earners_df, on='native-country')
total_earners_df['total-earners'] += total_earners_df['high-earners']
total_earners_df['ratio'] = total_earners_df['high-earners'] / total_earners_df['total-earners']
percentage = total_earners_df['ratio'].max()*100
print(percentage)
country = total_earners_df.sort_values('ratio', ascending=False).head(1)
print(country.iloc[0]['native-country'])

41.86046511627907
Iran

In [10]:
#Identify the most popular occupation for those who earn >50K in India. 

mask1 = df['salary'].str.contains('>50K') & df['native-country'].str.contains('India')
df[mask1]['occupation'].value_counts().idxmax()

'Prof-specialty'

In [11]:
#num_min_worker

df[df['hours-per-week']==min_work_hours]['hours-per-week'].count()

20

In [12]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = df.loc[df['sex']=='Male']['age'].mean().round(decimals = 1)

    # What is the percentage of people who have a Bachelor's degree?
    bachelors_count = df.loc[df['education'] == 'Bachelors']['education'].count()
    total_count = df['education'].count()
    percentage_bachelors = (bachelors_count / total_count * 100).round(decimals=1)


    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    edu = ['Bachelors','Masters', 'Doctorate']
    mask1 = (df['salary'].str.contains('>50K')) & (df['education'].isin(edu))
    #df[mask1].head(20)
    mask2 = df['education'].isin(edu) & (df['salary'])
    #df[mask2].head(20)
    #print(len(df[mask1]))
    #print(len(df[mask2]))
    higher_education_rich = round(((len(df[mask1]) / len(df[mask2])) * 100) ,1)

    mask1 = (df['salary'].str.contains('>50K')) & (~df['education'].isin(edu))
    mask2 = (~df['education'].isin(edu)) & (df['salary'])
    lower_education_rich = round(((len(df[mask1]) / len(df[mask2])) * 100) ,1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df[df['hours-per-week']==min_work_hours]['hours-per-week'].count()
    mask = (df['salary'].str.contains('>50K')) & (df['hours-per-week'].min())
    

    mask1 = (df['hours-per-week']==min_work_hours) & (df['salary'].str.contains('>50K'))
    #df[mask1]
    mask2 = (df['hours-per-week']==min_work_hours & (df['salary'].str.contains('>50K') | df['salary'].str.contains('<=50K') ))
    (len(df[mask1]) / len(df[mask2])) * 100
    rich_percentage =(len(df[mask1]) / len(df[mask2])) * 100


    # What country has the highest percentage of people that earn >50K?
    high_earners_df = pd.DataFrame(df[df['salary']  == '>50K'].groupby('native-country')['salary'].count())
    high_earners_df = high_earners_df.rename(columns={"salary": "high-earners"}).reset_index()
    total_earners_df = pd.DataFrame(df[df['salary']  == '<=50K'].groupby('native-country')['salary'].count())
    total_earners_df = total_earners_df.rename(columns={"salary": "total-earners"}).reset_index()
    total_earners_df = total_earners_df.merge(high_earners_df, on='native-country')
    total_earners_df['total-earners'] += total_earners_df['high-earners']
    total_earners_df['ratio'] = total_earners_df['high-earners'] / total_earners_df['total-earners']
    percentage = round(total_earners_df['ratio'].max()*100,1)
    country = total_earners_df.sort_values('ratio', ascending=False).head(1)
    
    highest_earning_country =country.iloc[0]['native-country']
    highest_earning_country_percentage = percentage

    # Identify the most popular occupation for those who earn >50K in India.
    mask1 = df['salary'].str.contains('>50K') & df['native-country'].str.contains('India')


    top_IN_occupation =df[mask1]['occupation'].value_counts().idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }